<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      dt {
        font-weight: bold;
      }
      nav {
        border-width: 1px 0;
        border-style: dotted;
        border-color: gray;
      }
      pre {
        background-color: lightgray;
        padding: 1em;
        border-left: 3px solid black;
        width: 100%;
      }
    </style>
    <title>Test: Regular Web Application</title>
  </head>
  <body>
    <h1>Test: Regular Web Application</h1>
    <nav>
      <ul>
        <% if(isAuthenticated) { %>
        <li><a href="/rwa/logout">Logout</a></li>
        <%} else { %>
        <li><a href="/rwa/login">Login</a></li>
        <% } %>
      </ul>
      <ul>
        <li><a href="https://<%= auth0Domain %>/v2/logout">Logout from the tenant (legacy)</a></li>
        <li><a href="https://<%= auth0Domain %>/oidc/logout">Logout from the tenant (OIDC)</a></li>
      </ul>
    </nav>
    <% if(isAuthenticated) { %>
    <section>
      <h2>Tokens</h2>
      <dl>
        <dt>ID Token</dt>
        <dd><%= idToken %></dd>
        <dt>Access Token</dt>
        <dd><%= accessToken %></dd>
      </dl>
    </section>
    <% } %>
    <section>
      <h2>Test Login with custom params</h2>
      <p><button id="loginWithCustomParamsButton">Login with custom params</button></p>
      <p>authorizationParams:</p>
      <textarea id="customParams" rows="5" cols="60">
{

}
      </textarea>
    </section>
    <section>
      <h2>Test progressive profiling</h2>
      <ul>
        <li>Have a username+password connection with the name <%= profilingConnectionName %></li>
        <li>Create an action with this <a href="/public/profilingActionExample.js">example code</a>. Set secrets: AUTH0_DOMAIN and REDIRECT_SECRET (the same values you use in .env file.)</li>
      </ul>
      <p><a href="/rwa/login/profiling">Login with progressive profiling</a></p>
  </section>
  <script src="/public/rwa.js"></script>
  </body>
</html>
